<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Créditos</title>
		<link rel='stylesheet' href='/stylesheet/style.css' />
	</head>
	<body>
		<h2>Autor de la página:</h2>				
			<p>
				<br>Israel Pérez Gómez</br>
			<img class="quiz_img" src="http://blog.jobandtalent.com/files/2014/07/Programacion-300x225.jpg" alt="Israel Pérez Gómez">
			</p>
	</body>
</html>

